
body {
    background-image: url("/images/7.jpg");
    background-repeat: initial;
    margin-top: 4%;
}
body fieldset {
    width: 600px;
    border-radius: 20px;
    background-color: #34495e;
    color: yellow;
    opacity: 90%;
    font-size: 14px;
    margin: 10px;
}
form.times {
    position: relative;
    top: 8%;
    left: 32%;
    margin: 10px;
}
.save-times {
    margin: 5px;
    font-weight: bolder;
    width: 150px;
    height: 30px;
    background-color: #001b44;
    color: #fbf1a9;
    font-size: 14px;
    position: fixed;
    z-index: 99999;
    left: 53%;
    bottom: 95%;
}
.allert {
    margin: -31% 1% 0 40%;
    font-size: 170%;
    color: yellow;
    font-weight: bold;
    position: absolute;
}